<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687627055783-o59bagjkqo3kdl8cl9kc7dsr6m7k9rq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687627055783-o59bagjkqo3kdl8cl9kc7dsr6m7k9rq1</string>
	<key>API_KEY</key>
	<string>AIzaSyBdekHkf45g3q77bTEUxUn7IwmATt515VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>687627055783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthai</string>
	<key>PROJECT_ID</key>
	<string>saudeok-moderny</string>
	<key>STORAGE_BUCKET</key>
	<string>saudeok-moderny.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687627055783:ios:852b98b653f4e0cbe3a182</string>
</dict>
</plist>